{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <body>
      <div class="container rounded bg-white mt-5 mb-5">
          <div class="row">
              <div class="col-md-3 border-right">
                  <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">User_1</span><span class="text-black-50">user1@example.com</span></div>
              </div>
              <div class="col-md-5 border-right">
                  <div class="p-3 py-5">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                          <h4 class="text-right">Profil użytkownika {{user.full_name}}</h4>
                      </div>
                      <div class="row mt-2">
                          <div class="col-md-6"><label class="labels">Nazwisko</label><input type="text" class="form-control"  value="{{ user.first_name }}"></div>
                          <div class="col-md-6"><label class="labels">Imię</label><input type="text" class="form-control" value="{{ user.last_name }}" ></div>
                          <div class="col-md-6"><label class="labels">Nazwa użytkownika</label><input type="text" class="form-control" value="{{ user.username }}" ></div>
                          <div class="col-md-6"><label class="labels">Adres email</label><input type="text" class="form-control" value="{{ user.email }}" ></div>
                      </div>
                      </div>
                      <div class="row mt-2">
                          <div class="col-md-6"><label class="labels">Firma</label><input type="text" class="form-control" value=""></div>
                      </div>
                      <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Zapisz zmiany</button></div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="p-3 py-5">
                      <div class="col-md-12"><label class="labels">Dodatkowe informacje</label><input type="text" class="form-control" placeholder="..." value=""></div>
                  </div>
              </div>
          </div>
      </div>
      </div>
      </div>
  </body>
{% endblock content %}
