<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Dashboard{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a style="color: #888;" class="navbar-brand" href="{% url 'home' %}">Dashboard</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            {% if user.is_authenticated %}
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a style="color: #888;" class="nav-link active" aria-current="page" href="{% url 'admin:index' %}">Admin</a>
                </li>
                <li class="nav-item">
                  <a style="color: #888;" class="nav-link" href="{% url 'chart' %}">Chart - sum amount per brand and client</a>
                </li>
                <li class="nav-item">
                  <a style="color: #888;" class="nav-link" href="{% url 'chart2' %}">Chart - sum amount per client</a>
                </li>
                <li class="nav-item">
                  <a style="color: #888;" class="nav-link" href="{% url 'chart3' %}">Chart - sum amount per month</a>
                </li>
              </ul>
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a style="color: #888;" class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                  <a style="color: #888;" class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
              </ul>
            {% else %}
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a style="color: #888;" class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                  <a style="color: #888;" class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
              </ul>
            {% endif %}
          </div>
        </div>
      </nav>
      <div class="container">
          {% block content %}{% endblock content %}
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
