{% if user.is_authenticated %}
  <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a style="color: #888;" class="navbar-brand" href="{% url 'index' %}">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a style="color: #888;" class="nav-link active" aria-current="page" href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li class="nav-item">
              <a style="color: #888;" class="nav-link" href="{% url 'chart' %}">Chart - sum amount per brand and client</a>
            </li>
            <li class="nav-item">
              <a style="color: #888;" class="nav-link" href="{% url 'chart2' %}">Chart - sum amount per client</a>
            </li>
            <li class="nav-item">
              <a style="color: #888;" class="nav-link" href="{% url 'chart3' %}">Chart - sum amount per month</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
{% else %}
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <h4 style="color: #888;">Login</h4>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  {% include "user/login.html" %}
{% endif %}
