{% extends "partials/base.html" %}
{% block content %}
    {% include "partials/message.html" %}
    <body class="dashboard">
        <div class="container">
            <div class="description">
                <h2 class="card-title"> System pozwala na:</h4>
                <ul>
                    <li>Graficzne przedstawienie danych sprzedażowych</li>
                    <li>Tworzenie oraz wysłanie raportu na wskazany adres e-mail</li>
                </ul>
            </div>
        </div>
    </body>
{% endblock content %}
