<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Dashboard{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    {% load static %}
      <link rel="stylesheet" type='text/css' href="{% static 'dashboard.css' %}">
  </head>
  <body>
      {% csrf_token %}
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a  class="navbar-brand gray-color" href="{% url 'home' %}">Strona główna</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            {% if user.is_authenticated %}
              <ul class="navbar-nav">
                {% if user.is_staff %}
                <li class="nav-item">
                  <a class="nav-link gray-color" aria-current="page" href="{% url 'admin:index' %}">Panel administratora</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle gray-color" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Wykresy
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="nav-item">
                      <a  class="nav-link gray-color" href="{% url 'chart' %}">Wykres - suma sprzedaży - marka-klient</a>
                    </li>
                    <li class="nav-item">
                      <a  class="nav-link gray-color" href="{% url 'chart2' %}">Wykres - suma sprzedaży - klient</a>
                    </li>
                    <li class="nav-item">
                      <a  class="nav-link gray-color" href="{% url 'chart3' %}">Wykres - miesięczna suma sprzedaży</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a  class="nav-link gray-color" href="{% url 'send_email' %}">Wyślij maila</a>
                </li>
                <li class="nav-item">
                  <a  class="nav-link gray-color" href="{% url 'import' %}">Import</a>
                </li>
              </ul>
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a  class="nav-link gray-color" href="{% url 'profile' %}">Profil</a>
                </li>
                <li class="nav-item">
                  <a  class="nav-link gray-color" href="{% url 'logout' %}">Wyloguj</a>
                </li>
              </ul>
            {% else %}
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a  class="nav-link gray-color" href="{% url 'login' %}">Zaloguj</a>
                </li>
                <li class="nav-item">
                  <a  class="nav-link gray-color" href="{% url 'register' %}">Rejestracja</a>
                </li>
              </ul>
            {% endif %}
          </div>
        </div>
      </nav>
      <div class="container">
          {% block content %}{% endblock content %}
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
